<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Direct</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragment/header :: defaultHeader"></div>
<div style="display:flex;">
  <form action="/direct/add" method="post" th:object="${direct}" style="margin: 0 auto; margin-top: 60px;">
    <div class="form-group">
      <label>Имя:</label>
      <input type="text" class="form-control" id="name" th:field = "*{name}" name="name" placeholder="name">
      <div style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors = "*{name}"></div>
    </div>
    <div class="form-group">
      <label>Фамилия:</label>
      <input type="text" id="surnamey" class="form-control" name="surnamey" placeholder="surnamey">
      <div style="color:red;" th:if="${#fields.hasErrors('surnamey')}" th:errors = "*{surnamey}"></div><br/>
    </div>
    <div class="form-group">
      <label>Отчество:</label>
      <input type="text" id="lastname" class="form-control" name="lastname" placeholder="lastname">
      <div style="color:red;" th:if="${#fields.hasErrors('lastname')}" th:errors = "*{lastname}"></div><br/>
    </div>
    <input class="btn btn-primary" type="submit" value="Добавить режиссёра"><br/>
    <a href="/direct/">Назад</a>
  </form>
</div>
</body>
</html>