<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Films</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragment/header :: defaultHeader"></div>
<div style="display:flex;">
  <form th:action="${'/films/add'}"  method="post" th:object="${films}" style="margin: 0 auto; margin-top: 60px;">
    <div class="form-group">
      <label>Название фильма:</label>
      <input type="text" class="form-control"  name="title" >
    </div>
    <div class="form-group">
      <label>Год выхода:</label>
      <input type="text" class="form-control"  name="year" >
    </div>
    <div class="form-group">
      <label>Описание фильма:</label>
      <input type="text" class="form-control"  name="film" >
    </div>
    <div class="form-group">
      <label>Студия:</label>
      <input type="text" class="form-control"  name="studiay" >
    </div>
    <select  name="titlee">
      <div th:each="element : ${tags}">
        <option th:text="${element.titlee}"></option>
      </div>
    </select>
    <select  name="genree">
      <div th:each="element : ${genres}">
        <option th:text="${element.genree}"></option>
      </div>
    </select>
    <select  name="agelimitrus">
      <div th:each="element : ${agelimit}">
        <option th:text="${element.agelimitrus}"></option>
      </div>
    </select>
    <select  name="surname">
      <div th:each="element : ${actors}">
        <option th:text="${element.surname}"></option>
      </div>
    </select>
    <select  name="surnamey">
      <div th:each="element : ${direct}">
        <option th:text="${element.surnamey}"></option>
      </div>
    </select>
    <button type="submit">Добавить фильм</button>
  </form>
</div>
</body>
</html>