<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="${'/phoneNumber/add/'}" method="post">
  <input type="text" name="name" placeholder="Введите имя человека">
  <input type="text" name="surname" placeholder="Введите фамилию человека">
  <input type="text" name="lastname" placeholder="Введите отчество человека">

  <select  name="number">
    <div th:each="element : ${phoneNumber}">
      <option th:text="${element.number}"></option>
    </div>
  </select>
  <br>
  <button type="submit">Добавить человека</button>
</form>

<!--<form th:action="${'/phoneNumber/add'}" method="post">-->
<!--  <input type="text" name="name" placeholder="Введите имя человека">-->
<!--  <select  name="number">-->
<!--    <div th:each="element : ${pasport}">-->
<!--      <option th:text="${element.number}"></option>-->
<!--    </div>-->
<!--  </select>-->
<!--  <br>-->
<!--  <button type="submit">Добавить человека</button>-->
<!--</form>-->
</body>
</html>