<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="${'/student/add/'}" method="post">
    <select  name="student">
        <div th:each="element : ${students}">
            <option th:text="${element.zvanie}"></option>
        </div>
    </select>
    <select  name="mpg">
        <div th:each="element : ${mpg}">
            <option th:text="${element.Kurs}"></option>
        </div>
    </select>
    <br>
    <button type="submit">Добавить человека</button>
</form>
</body>
</html>